body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.jumbotron {
position: relative;
}

.jumbotron h1 {
    font-size: 48px;
    color: #fff;
}

.jumbotron p {
    font-size: 24px;
    color: #fff;
}

.img-fluid {
    width: 50%;
    height: auto;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.jumbotron::after {
    content: "";
    background: rgba(128, 0, 128, 0.5); /* Opacidad en color morado */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#carouselExampleSlidesOnly {
    display: flex;
    justify-content: center;
}
.carousel-item img {
    width: 50%;
    margin: auto;
    height: autos;
}
